<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @plan.title %>
</p>

<p>
  <b>Starton:</b>
  <%= @plan.starton %>
</p>

<p>
  <b>Endon:</b>
  <%= @plan.endon %>
</p>

<p>
  <b>Address:</b>
  <%= @plan.address %>
</p>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
